<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>CSJMUconnect-Material</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
        rel="stylesheet" type="text/css" />
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha384-vV55mR0Ue3wJb1YHMqGMx0C2N5oS9LbHrOMogp0uX0fF7F7+z57e0mQNxC3fOjai" crossorigin="anonymous">

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet" />
     <style>
        /* Optional custom styles */
        .search-container {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 10px;
        }
        .search-input {
            width: 300px;
            margin-right: 10px;
        }
        @media (max-width: 768px) {
            .search-input {
                width: 200px;
            }
        }
    </style>
</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/">CSJMUconnect</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#resources">Resources</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#community">Community</a></li>
                    <li class="nav-item"><a class="nav-link" href="#connect">Contact-us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contributor">Contributor</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <button onclick="goToTop()" id="goToTopBtn" title="Go to top"><i class="fas fa-arrow-up"></i></button>
    <section class="page-section" style="background-color:rgba(0, 28, 51, 0.96);" id="topper">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-primary mt-0" style="color: #f4623a;">Welcome to Materials Section - Your Exam Preparation Partner</h2>
                    <hr class="divider divider-light" style="opacity: 0;" />
                    <p class="text-white-75 mb-4">Are you gearing up for your upcoming exams and seeking a valuable
                        resource to boost your preparation? <br><br>Look no further! PYQS, short for "Past Years'
                        Question Papers for Practices," is your ultimate exam preparation companion.</p>
                        <p class="text-white-75 mb-4">A treasure trove of hand-written notes compiled by top-performing students. Our mission is to provide you with invaluable insights and guidance to excel in your semesters.</p>
                        <form action="/search" method="GET">
                            <div style="display: flex;">
                                <input class="form-control" type="text" name="q" placeholder="Search..." required>
                                <button class="btn btn-primary" type="submit">Search</button>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </section>
   
        {{!-- search result --}}
        {{#if searchTerm}}
<section class="page-section" id="searchResults">
    <div class="container mt-4">
        <div class="d-flex align-items-baseline">
            <h6>Search Result </h6>
            <h1>"{{searchTerm}}"</h1>
        </div>
      
        {{#if searchnotfound}}
            <div class="container mt-4">
                <h1>{{searchnotfound}}</h1>
                 <span> 
                        <h3 style="color:rgba(0, 28, 51, 0.96)">Register yourself as a Contributor and join our mission</h3>
                        <a href="/register"><button type="button" class="btn btn-primary">Register</button></a>
                    </span>
            </div>  
        {{/if}}
        {{#if searchResults}}
        <div class="row mt-4">
            {{#each searchResults}}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{Subject_code}}</h5>
                            <p class="card-text">Branch: {{Branch}}</p>
                            <p class="card-text">Semester: {{Semester}}</p>
                            <h6 class="card-subtitle mb-2 text-muted">Posted By {{UserName}}</h6>
                            <a href="/pdf/{{pdfName}}" target="_blank" class="card-link">Open PDF</a>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
        {{/if}}
    </div>
</section>
{{/if}}
     {{#if latestposts}}
    <section class="page-section" id="services">
        <div class="container mt-4">
            
            <h1>Latest Posts</h1>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {{#each latestposts}}
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{dept}}</h5>
                            {{!-- <p class="card-text">User: {{UserName}}</p> --}}
                            <p class="card-text">Branch: {{Branch}}</p>
                            <p class="card-text">Subject Code: {{Subject_code}}</p>
                            <p class="card-text">Semester: {{Semester}}</p>
                            <a href="/pdf/{{pdfName}}" target="_blank" class="card-link">Open PDF</a>
                            <h6 class="card-subtitle m-2 text-muted">Posted By {{UserName}}</h6>
                            <p class="card-subtitle text-muted">{{CreatedAt}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    
    </section>
    {{/if}}
 



    <section class="page-section" id="connect">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-6 pt-12">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1510.049828862413!2d80.26537608795942!3d26.50106188191156!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399c378462b35939%3A0xb4805f171d9ebc5f!2sUniversity%20Institute%20of%20Engineering%20and%20Technology!5e0!3m2!1sen!2sin!4v1695360098124!5m2!1sen!2sin"
                        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-lg-6">
                    <div class="row gx-4 gx-lg-5">
                        <div class="col-lg-12 text-center">
                            <h2 class="mt-10">Let's Get In Touch!</h2>
                            <!-- <hr class="divider" /> -->
                            <p class="text-muted mb-5"></p>
                        </div>
                    </div>
                    <div class="row gx-4 gx-lg-5 mb-5">
                        <div class="col-lg-12">
                            <!-- Contact form goes here -->
                            <!-- Contact form goes here -->
                            <form action="https://sheetdb.io/api/v1/a01yecyiwlbb5" method="post" id="sheetdb-form">
                                <!-- Form fields go here -->
                                <!-- Name input-->
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="Full_Name" type="text" placeholder="Enter your name..." name=data[Full_Name] required />
                                    <label for="Full_Name">Full name</label>
                                </div>
                                <!-- Email address input-->
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="email" type="email" placeholder="name@example.com"
                                        name=data[email] required />
                                    <label for="email">Email address</label>
                                   
                                </div>
                                <!-- Phone number input-->
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="number" placeholder="(123) 456-7890"
                                        name="data[number]" required />
                                    <label for="number">Phone number</label>
                                   
                                </div>
                                <!-- Message input-->
                                <div class="form-floating mb-3">
                                    <textarea class="form-control" id="message" type="text"
                                        placeholder="Enter your message here..." style="height: 10rem"
                                        data-sb-validations="required" name="data[message]"  required></textarea>
                                    <label for="message">Message</label>
                                    
                                </div>
                                <!-- Submit Button-->
                                <div class="d-grid"><button class="btn btn-primary btn-xl" id="submitButton"
                                        type="submit">Submit</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



   
   <footer class="bg-dark text-light mt-5">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-3 mt-5">
                    <!-- Your college logo here -->
                    <a class="navbar-brand" href="/">
                        <h5>CSJMUconnect</h5>
                    </a>
                    <p style="font-size: small;">A open community for Kanpur University students</p>
                </div>
                <div class="col-md-3 mt-5">
                    <!-- Contact information -->
                    <h5>Contact Us:</h5>
                    <p style="font-size: small;">Email: uietai2k21@gmail.com</p>
                    <p style="font-size: small;">Phone: (+91) 9125216801</p>
                </div>
                <div class="col-md-3 mt-5">
                    <!-- Social media links -->
                    <h5>Follow Us:</h5>
                    <a href="#" style="text-decoration: none; font-size:small;" class="text-light">Facebook</a><br>
                    <a href="#" style="text-decoration: none; font-size:small;" class="text-light">Twitter</a><br>
                    <a href="#" style="text-decoration: none; font-size:small;" class="text-light">Instagram</a><br>
                    <a href="#" style="text-decoration: none; font-size:small;" class="text-light">LinkedIn</a>
                </div>
                <div class="col-md-3 mt-5">
                    <!-- Quick links -->
                    <h5>Quick Links:</h5>
                    <ul class="list-unstyled">
                        <li><a style="text-decoration: none;font-size:small;" href="/">Home</a></li>
                        <li><a style="text-decoration: none;font-size:small;" href="/about">About Us</a></li>
                        <li><a style="text-decoration: none;font-size:small;" href="/#resource">Resources</a></li>
                        <li><a style="text-decoration: none;font-size:small;" href="/#community">Community</a></li>
                        <li><a style="text-decoration: none;font-size:small;" href="#connect">Contact-us</a></li>
                        <li><a style="text-decoration: none;font-size:small;" href="/contributor">Contributor</a></li>
                    </ul>
                </div>
            </div>
            <div class="container px-4 px-lg-5">
                <div class="small text-center text-muted">
                    Copyright &copy; 2023 - Open Community Kanpur University | Version 1.0.1
                </div>
            </div>

        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- SimpleLightbox plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <script src="js/login.js"></script>
    <script src="js/feed.js"></script>

    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>

</html>